#get-quote a.menu-menu-btn {
  background-color: #264f69;
  width: fit-content;
  color: #fff;
}
section#get-quote {
  text-align: -webkit-center;
}
#get-quote a.menu-menu-btn:hover {
  background-color: #f6b200 !important;
}
.cs_heading_bg{
  background-color: #264f69;
}
.cs_footer.cs_style_1 .cs_footer_bottom{
  background-color: #00263a;
}
.cs_about.cs_style_1 .cs_esperience_text {
  max-width: 246px;
}
.cs_hero.cs_style_1 {
  min-height: 540px;
  padding: 40px 0;
}
.cs_iconbox.cs_style_1.cs_type_1 .cs_iconbox_icon {
  width: 30px;
  min-width: 30px;
}
@media screen and (min-width: 1200px) {
  .cs_nav .cs_nav_list ul {
    width: 250px;
  }
  
}
@media screen and (max-width: 767px) {
  .cs_page_heading {
    height: 135px;
  }
  .cs_logo_bg_shape img{
    height: -webkit-fill-available;
  }
}
@media (max-width: 991px) {
  .cs_fs_50 {
      font-size: 30px;
  }
}