:root {

  --bg-light-aqua-blue: #77DFEA;
  --bg-medium-blue: #3D83A9;
  --bg-sky-blue: #5CBEE2;
  --bg-deep-blue: #366D92;
  --bg-light-gray: #dddddd63;
  --bg-dark-blue: #00334e;
  --sky-blue-font: #76DCEB;

}

/* OVERRIDE CONTAINER for fix content and width */
@media (min-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.cs_brand img {
  max-width: 160px;
}
.cs_brands_wrapper {
  padding: 50px;
  gap: 40px 40px;
  justify-content: center;
}
/* SVG Animation */
.toolssvgmove {
  -webkit-animation: spinAnimation 7s linear infinite;
  animation: spinAnimation 7s linear infinite;
  max-height: inherit !important;
  object-fit: contain !important;
  width: auto !important;
}
@-webkit-keyframes spinAnimation {
  0% {
    -webkit-transform: rotateX(-20deg) rotateY(0deg);
    transform: rotateX(-20deg) rotateY(0deg);
  }

  75% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
    transform: rotateX(-20deg) rotateY(360deg);
  }

  100% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

@keyframes spinAnimation {
  0% {
    -webkit-transform: rotateX(-20deg) rotateY(0deg);
    transform: rotateX(-20deg) rotateY(0deg);
  }

  75% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
    transform: rotateX(-20deg) rotateY(360deg);
  }

  100% {
    -webkit-transform: rotateX(-20deg) rotateY(360deg);
    transform: rotateX(-20deg) rotateY(360deg);
  }
}

@-webkit-keyframes scallup {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
}

@keyframes scallup {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }

  50% {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
  }
}

/* svg animation end moving */


.bg-light-blue {
  background-color: var(--bg-light-aqua-blue);
}

.bg-light-gray {
  background-color: var(--bg-light-gray);
}

.bg-deep-blue {
  background-color: var(--bg-deep-blue);
}

.bg-dark-blue {
  background-color: var(--bg-dark-blue);
}

.sky-blue-font {
  color: var(--sky-blue-font);
}

@font-face {
  font-family: 'Gunplay-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gunplay-Regular'), url('../../public/fonts/faj-custom-font.ttf') format('ttf');
}


@font-face {
  font-family: 'Gunplay-Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gunplay-Regular'), url('../../public/fonts/faj-custom-font.woff') format('woff');
}

#get-quote a.menu-menu-btn {
  background-color: #264f69;
  width: fit-content;
  color: #fff;
}

section#get-quote {
  text-align: -webkit-center;
}

#get-quote a.menu-menu-btn:hover {
  background-color: #f6b200 !important;
}

.cs_heading_bg {
  background-color: #264f69;
}

.cs_footer.cs_style_1 .cs_footer_bottom {
  background-color: #00263a;
}

.cs_about.cs_style_1 .cs_esperience_text {
  max-width: 246px;
}

.cs_hero.cs_style_1 {
  min-height: 540px;
  padding: 40px 0;
}

.cs_iconbox.cs_style_1.cs_type_1 .cs_iconbox_icon {
  width: 30px;
  min-width: 30px;
}

.cs_nav .cs_nav_list>li.menu-item-has-children .custom_border_drop .menu-item-has-children>a::after {
  content: "\f282";
  font-family: bootstrap-icons !important;
  font-weight: 900;
  display: inline-block;
  border-left: 0;
  border-top: 0;
  margin-left: 6px;
  position: absolute;
  top: 10px;
  font-size: 9px;
  color: currentColor;
  left: 95%;
  height: fit-content;
  width: auto;
  transition: transform 0.3s ease;
}

.cs_nav .cs_nav_list>li.menu-item-has-children .custom_border_drop .menu-item-has-children:hover>a::after {
  transform: rotate(-90deg);
  /* You can adjust the degrees as per desired direction */

}

.border-small-top {
  position: relative;
}

.border-small-top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 260px;
  height: 4px;
  background-color: var(--bg-dark-blue);
  border-radius: 50%;
}

.border-small-left {
  position: relative;
}

.border-small-left::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--bg-dark-blue);
  border-radius: 50%;
}
.cs_footer_row .cs_footer_col a:hover {
  color: #ffffffa3;
}
@media screen and (max-width: 767px) {
  .border-small-left::before {

    top: -8%;
    left: 50%;
    width: 260px;
    height: 4px;
  }
}

@media screen and (min-width: 768px) {
  .border-small-left::before {

    bottom: 0px;
    left: 0%;
    width: 4px;
    top: 60%;
    height: 180px;
  }
}

.inner-acsvs-dis-sec {
  background: #d04140;
  padding: 16px 0;
  border-radius: 5px;
  /* margin-bottom: 15px; */
}

.inner-acsvs-dis-sec a {
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: yellow;
  max-width: 300px;
  min-height: 40px;
  text-decoration: none;
  color: #000;
  margin-top: 12px;
}

.inner-acsvs-dis-sec p {
  font-size: 20px;
  color: #fff;
}

.inner-acsvs-sec-feat {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  isolation: isolate;
  padding: 2px;
  margin-bottom: 0px;
}

.inner-acsvs-sec-feat .avsvs-sec-feat-sub {
  padding-top: 8px;
  position: relative;
}

.acsvs-sec-feat-p1,
.acsvs-sec-feat-p2,
.acsvs-sec-feat-p3 {
  margin-bottom: 10px;
  color: #000;
}

.acsvs-sec-feat-p1 {
  font-size: 22px;
  text-transform: capitalize;
}

.acsvs-sec-feat-p2 {
  font-size: 19px;
}

.acsvs-sec-feat-p3 {
  font-size: 20px;
  line-height: 1;
  text-transform: capitalize;
}

.btn-dblue,
.btn-dblue:hover,
.floating-menu .flt-icon-cl,
.btn-dgreen,
.btn-dgreen:hover,
.btn-lgreen,
.btn-lgreen:hover,
.btn-dpurple,
.btn-dpurple:hover,
.btn-lblue,
.btn-lblue:hover,
.btn-dorange,
.btn-dorange:hover {
  color: #fff;
}

.btn-dblue,
.btn-dblue:hover,
.floating-menu .flt-icon-cl {
  background: #264f69;
}

.btn-dgreen,
.btn-dgreen:hover {
  background: #4d643b;
}

.btn-lgreen,
.btn-lgreen:hover {
  background: #a1843e;
}

.btn-dpurple,
.btn-dpurple:hover {
  background: #573534;
}

.btn-lblue,
.btn-lblue:hover {
  background: #285fda;
}

.btn-dorange,
.btn-dorange:hover {
  background: #f88400;
}

.acsvs-sec-down {
  padding: 16px 16px 0;
  margin-bottom: 16px;
}

.dft_para_format {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 5px;
  margin-left: 5px;
  color: #000;
}

.pdt-24 {
  padding-top: 24px;
}

.mgt-18 {
  margin-top: 18px;
}

.d-blue:before,
.d-green:before,
.d-orange:before,
.d-purple:before,
.l-blue:before,
.l-green:before {
  bottom: 0;
  content: "";
  left: 0;
  opacity: .3;
  position: absolute;
  right: 0;
  top: 0;
  transition: .3s ease-in-out;
  z-index: -1;
  border-radius: 5px;
}

.d-blue:before {
  opacity: .4;
  background-color: #264f69;
}

.d-green:before {
  background-color: #4d643b;
}

.l-green::before {
  opacity: .4;
  background-color: #a1843e;
}

.d-purple::before {
  opacity: .4;
  background-color: #573534;
}

.l-blue::before {
  opacity: .4;
  background-color: #285fda;
}

.d-orange::before {
  opacity: .4;
  background-color: #f88400;
}

.border-radius-gray {
  border-radius: 10px;
  /* Adjust the radius value as needed */
  border: 2px solid gray;
  /* Adjust the border thickness and color */
}

.technical-col {
  background: #a8b9c3;
  border-right-color: #264f69 !important;
  border-right-width: 4px !important;
}

.cleaning-col {
  background: #a8b9c3;
  border-right-color: #264f69 !important;
  border-right-width: 4px !important;
}

/* Common box  */
.box-content-container {
  min-height: 165px;
  max-height: 165px;
  overflow-y: auto;
}

a.btn-green-yellow {
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #06d755;
  max-width: fit-content;
  min-height: 40px;
  text-decoration: none;
  color: #fff;
  margin-top: 12px;
  padding: 10px;
  border-radius: 10px;
}

a.btn-green-yellow:hover {
  background-color: #f6b200;
}


.call-now-btn .call-icon {
  max-width: 150px;
  /* content: url('../../public/img/icons/Call-Icon.avif'); */

}

.quote-now-btn .quote-icon {
  max-width: 150px;
  /* content: url('../../public/img/icons/quote-icon.avif'); */
}



.whatsapp-now-btn .whatsapp-icon {
  max-width: 188px;
}



.contact-now-btn .contact-icon {
  max-width: 150px;
  transition: all 1s ease-in-out;

}

.contact-now-btn:hover .contact-icon {
  transition: all 1s ease-in-out;

}

/* Anchar tags underline */
p a {
  text-decoration: underline;
  font-weight: 500;
}


/* New section added in Appliances page */
.usps {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  /* gap: 35px; */
  gap: 30px;
  width: 100%;
  justify-content: center;
  padding: 0 15px;
}

.blue-border-2 {
  border: 2px solid #00334e;
  border-radius: 15px;

}

.col-1,
.col-2,
.col-3 {
  width: 30%;
}

.usps .uspcol {
  margin-left: 40px;
}

.usps .uspitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background: #f7f8fa 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #186AA51A;
  border: 1px solid var(--bg-dark-blue);
  border-radius: 5px;
  margin-bottom: 25px;
}

.usps .uspitem .uspicon {
  background-color: var(--bg-dark-blue);
  /* background: transparent linear-gradient(180deg, #40809f 0%, #53a1c1 100%) 0% 0% no-repeat padding-box; */
  border: 1px solid var(--bg-dark-blue);
  width: 78px;
  height: 78px;
  position: relative;
  margin-left: -52px;
  flex: 0 0 78px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.usps .uspitem h3 {
  font-size: 15px;
  color: var(--bg-dark-blue);
  margin-bottom: 5px;
  margin-top: 0;
  font-weight: 400;
}

@media screen and (min-width: 1200px) {
  .usps .uspitem h3 {
    margin-left: -20px;
  }

}


/* APPLIANCES BENIFIT SECTION */
.benifit-box-container {
  background: #fff;
  border: 1px solid var(--bg-dark-blue);
  border-radius: 10px;
  position: relative;
  padding: 41px 17px 20px
}


.icon-img-block {
  height: 65px;
  width: 65px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  border: 1px solid #000;
  border-color: var(--bg-dark-blue);
  background-color: #fff;
}

/* .icon-img-block.amc-icon-block {
  height: 85px;
  width: 85px;
 
  border: none;
  background-color: white;
} */

.icon-img-block-icon{
  max-height: inherit !important;
  object-fit: contain !important;
  width: auto !important;
  padding: 10px;

}


.cs_service_details img {
  /* max-height: 310px !important; */
  max-height: 370px !important;
  object-fit: cover;
  width: 100%;

}

.cs_service_details .usps img {
  /* max-height: inherit !important; */
}

.d-none-1199 {
  display: block;
}

.d-none-1199 img {
  margin-top: 30px;
  max-width: 350px;
  max-height: inherit !important;
}

@media screen and (min-width: 1200px) {
  .d-none-1199 {
    display: none !important;
  }
}


/* MEDIA SCREENS */
@media screen and (min-width: 1200px) {
  .cs_nav .cs_nav_list ul {
    width: max-content;
  }

  .cs_nav .cs_nav_list ul a {
    padding: 5px 10px;
    line-height: 1.2;
  }

  .custom_border_drop li {
    border-bottom: 1px solid #83838338;
  }

  .box-content-container {
    min-height: 185px;
    max-height: 200px;
  }

}

@media screen and (max-width: 1200px) {
  .cs_nav .cs_nav_list>li.menu-item-has-children .custom_border_drop .menu-item-has-children>a::after {
    display: none;
  }
}

@media screen and (max-width: 1024px) {

  .box-content-container {
    min-height: 210px;
    max-height: 210px;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 45%;
  }


}

@media screen and (max-width: 991px) {
  .cs_py_30 {
    padding-top: 30px;
    padding-bottom: 30px;

  }


  .cs_fs_50 {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .usps {
    flex-direction: column;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 80%;
  }
  .cs_about.cs_style_1 .cs_esperience_text:after {
      opacity: 0.7 !important;
      z-index: -1 !important;
  }
}

@media screen and (max-width: 767px) {

  .breadcrumb {
    display: none;
  }

  .cs_fs_50 {
    font-size: 25px;
  }

  .cs_service_details h2,
  cs_fs_30,
  h3,
  h2 {
    font-size: 25px;
  }

  .cs_fs_24 {
    font-size: 18px;
  }

  .box-content-container {
    min-height: 120px;
    max-height: 130px;
  }

  .cs_page_heading {
    height: 135px;
  }

  .cs_logo_bg_shape img {
    height: -webkit-fill-available;
  }

  .appointment-col.border-small-top {
    border-top: 0 !important;
  }

  .appointment-col.border-small-top::before {
    display: none;
  }

  .right-border-col.border-col-end {
    border-right: 0 !important;
  }

  .call-now-btn .call-icon,
  .quote-now-btn .quote-icon,
  .contact-now-btn,
  .contact-icon {
    max-width: 115px !important;
  }

  .whatsapp-now-btn .whatsapp-icon {
    max-width: 138px !important;
  }


}

@media screen and (max-width: 576px) {

  .cs_service_details h2,
  .cs_fs_30,
  h3,
  h2 {
    font-size: 20px;
  }

  .box-content-container {
    min-height: auto;
    max-height: 185px;
  }
}

.gradient-amc-bg {
  padding: 24px;
  border-radius: 5px;
}

.green-box {
  background-image: linear-gradient(to right, #2FB806, #124E01);
}

.green-box a {
  color: #124E01;
}

.purple-box {
  background-image: linear-gradient(to right, #8b56e7, #3e0d97);
}

.purple-box a {
  color: #3e0d97;
}

.cgreen-box {
  background-image: linear-gradient(to right, #209fb6, #044652);
}

.cgreen-box a {
  color: #044652;
}

.gradient-amc-bg h3 {
  border-bottom: 1px dashed;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.gradient-amc-bg p {
  min-height: 80px;
}

.gradient-amc-bg a.amc-box-button {
  box-shadow: 0 8px 8px #0000001a;
  min-height: 32px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: "Museo Sans", "Source Sans Pro", Arial, sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.cs_service_details .usps .why-choose-img {
  /* max-height: 470px !important;
  max-height: 490px !important; */
  min-height: 550px !important;
  max-height: 550px !important;
  object-fit: cover;
  object-position: top center;
}

.cs_service_details .usps .uspicon img {
  max-height: inherit !important;
  object-fit: contain !important;
  width: auto !important;
}

@media screen and (max-width: 1400px) {
  .cs_service_details .usps .why-choose-img {
    max-height: 550px !important;
    min-height: 550px;

  }
}



.cs_slider_container .slick-list .slick-track {
  /* background-color: var(--bg-dark-blue); */
  display: flex;
  align-items: center;

}

.cs_slider_container .brnadlogo-coffeemachine-service img{
max-height: 117px !important;
/* padding: 20px; */

}

.floating-menu{
	position: fixed;
    bottom: 10px;
    right: 10px!important;
}
.floating-menu .flt-ul-icon{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.floating-menu .flt-icon-url{
	text-decoration: none;
	color: #fff;
}
.floating-menu .flt-icon-text{
	display: none;
}
.floating-menu .flt-icon{
	font-size: 24px;
    height: 45px;
    width: 45px;
    line-height: 45px;
	margin-top: 5px;
	border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
.floating-menu .flt-icon-wh{
	background: #06d755;
	color: #fff;
}
.floating-menu .flt-icon-cl{
	background: #264f69;
	color: #fff;
}
.floating-menu .flt-icon-fb{
	background: #128be0;
	color: #fff;
}
.floating-menu .flt-icon-en{
	background: #f6b200;
	color: #fff;
}
.floating-menu .flt-icon-tw{
	background: #128be0;
	color: #fff;
}
@media (max-width:991px){
	.floating-menu{
		display: none;
	}
}
/*Mobile CTA Button*/
@media (min-width:991px){
	.mobile-whatsapp{
		display: none;
	}
}
.mobile-whatsapp{
	border-top: 1px solid #fff;
    position: fixed !important;
    width: 100%;
    bottom: 0;
    z-index: 100;
}
.mobile-whatsapp .cta-nav{
	width:50%;
	float:left;
}
.mobile-whatsapp .cta-nav a{
	color:#fff;
	text-decoration:none;
}
.mobile-whatsapp .mob-callus{
	background: #264f69
}
.mobile-whatsapp .mob-whatsapp{
	background: #06d755;
}
.button-whatsapp{
    display: inline-flex;
    height: 40px;
    line-height: 1.2em;
    font-size: 14px;
	font-weight: 700;
	font-family: "Muli", sans-serif;
    text-transform: uppercase;
    color: #fff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    padding: 0 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.5px;
    position: relative;
    text-align: center;
    transition-property: all!important;
    transition-duration: .5s!important;
    transition-delay: 0s!important;
    outline: none;
    background-color: #018fa3;
}
.mobile-whatsapp .button-whatsapp{
	margin: 0 auto;
    background: none;
    display: flex;
    height: 50px;
	font-size: 18px;
}
/*End Mobile Whatsapp Icon*/
/*Mobile CTA Ends Here*/