#get-quote a.menu-menu-btn {
  background-color: #264f69;
  width: fit-content;
  color: #fff;
}
section#get-quote {
  text-align: -webkit-center;
}
#get-quote a.menu-menu-btn:hover {
  background-color: #f6b200 !important;
}
.cs_heading_bg{
  background-color: #264f69;
}
.cs_footer.cs_style_1 .cs_footer_bottom{
  background-color: #00263a;
}
.cs_about.cs_style_1 .cs_esperience_text {
  max-width: 246px;
}